name: Trigger JS Landing Page Test Runner

on:
  pull_request_target:
    branches: ["main"]

jobs:
  js_landing_page_test_runner:
    uses: developer-job-simulation/javascript-landing-page-tests/.github/workflows/main.yml@main
    with:
      pr_number: ${{ github.event.pull_request.number }}
      head_sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }} 
